<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    .table-responsive{
      border-top: 1px solid #d8d5d5;
      padding-top: 15px;
    }
    .top-acc{
      padding: 15px 0;
    }
</style>
  <title>LastStop</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand p-0" href="/"><img src="https://axaserviz.com/app/static/media/logo_last_stop_appliances_color.d0a865ce.png"
          alt="Logo" style="width: 85px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <% if (userrol != 0){ %>
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fa fa-bar-chart" aria-hidden="true"></i>
              Resumen <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/repairs"><i class="fa fa-wrench" aria-hidden="true"></i>
              Reparaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i>
              Ventas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cogs" aria-hidden="true"></i> Aplicación
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users"><i class="fa fa-users" aria-hidden="true"></i> Usuarios</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#"><i class="fa fa-plug" aria-hidden="true"></i>
                Dispositivos</a>
              <a class="dropdown-item" href="#"><i class="fa fa-plug" aria-hidden="true"></i>
                Tipos de dispositivos</a>
              <a class="dropdown-item" href="#"><i class="fa fa-bandcamp" aria-hidden="true"></i>
                Marcas</a>
              <a class="dropdown-item" href="#"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Fallas de dispositivos</a>
            </div>
          </li>
          <% }else{ %>
          <li class="nav-item">
            <a href="/trepairs" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>
              Reparaciones</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a href="/logout" class="nav-link"><i class="fa fa-sign-out" aria-hidden="true"></i>
              Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>